/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#000;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#AECAE1;
	font-size:10px;
   	background-image:url('sfondi/misticblue-bg.jpg');
   	background-position:center top;
   	background-repeat:no-repeat;
   	background-size:contain;
	background-attachment:fixed;
}
html{
	height: 100%;
	box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  max-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FINE CSS RESET*/

div.contenitore{
	width:85%;
	margin:0 auto;
	border:none;
	background-color:rgba(100,100,100,0.75);
	box-shadow:0px 0px 3px 5px rgba(255,255,255,0.4); 
}

div.contenuto{
	height: 100%;
	margin-top: 13%;
	margin-bottom: 2%;
}

/*h2 elements*/
h2{
	display: block;
	font-weight: bolder;
	font-size: 3.2em;
}
h2.titolonews{
	text-align: center;
}

/*news part*/
div.newsbody{
	text-align: center;
	font-size: 2em;
}

/*footer part*/
div.footercopy{
	text-align: center;
	font-size: 1.2em;
	bottom: 0;
}

footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}