RewriteEngine On
RewriteRule ^loginadminmeteora    /core/loginManager/index.php [END]
RewriteRule ^creaaccountmeteora    /core/accountManager/creaAccount/index.php [END]
RewriteRule ^elaboraaccountmeteora/(.+)$    /core/accountManager/creaAccount/elaboraCreazione.php?data=$1 [END]
RewriteRule ^elaboraloginmeteora/(.+)$    /core/loginManager/elaboralogin.php?data=$1 [END]
RewriteRule ^elaboramodificapasswordmeteora/(.+)$    /core/accountManager/cambioPassword/elaborazioneCambioPsw.php?data=$1 [END]
RewriteRule ^modificapasswordmeteora    /core/accountManager/cambioPassword/index.php [END]